@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');
body{

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;

}

@media (min-width: 960px){
   main, .cd, .efgh{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: center;

   } 
.p1{
    visibility: visible;
    color: blanchedalmond;
    font-family: 'Londrina Solid', cursive;
   font-size: 50px;
   text-align: center;
   vertical-align: middle;
}
.p2,.p3{
    visibility: hidden;
}
   
}



    @media (min-width: 768px) and (max-width: 959px){
        main, .cd, .efgh{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: flex-start;
            align-content: center;
        
           } 
        
           .p2{
            visibility: visible;
            color:black;
            font-family: 'Londrina Solid', cursive;
           font-size: 50px;
           text-align: center;
           vertical-align: middle;
        }
        .p1,.p3{
            visibility: hidden;
        } 
    }


    @media (min-width: 0px) and (max-width: 767px){
    main ,article, .i{
    

            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            
        
    
    }

    .efgh{
        display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    height:500px;
    }
    .p3{
        visibility: visible;
        color: black;
        font-family: 'Londrina Solid', cursive;
       font-size: 50px;
       text-align: center;
       vertical-align: middle;
    }
    .p1,.p2{
        visibility: hidden;
    }
      
  }
    
    