
    .a{
        background-color:#a8d8ea ;
    }
    .b{
        background-color:#aa96da ;
    }
    #c{
        background-color: #fcbad3;
    }
    #d{
        background-color: #7f4a88;
    }
    .e{
       background-color: #364f6b;
    }
    .f{
        background-color: #3fc1c9;
    }
    .g{
        background-color: #fc5185;
    }
    .h{
       background-color: #8785a2;
    }
    .i{
        background-color: #a0ffe6;
     }
    
     @media (min-width: 960px){
         body{
            background-color: black;
         }

     }


     @media (min-width: 768px) and (max-width: 959px){
        body{
           background-color:#ffd880;
        }

    }
    @media (min-width: 0px) and (max-width: 767px){

        body{
            background-color: #8e7f7f;
         }
    }